.top {

}
.top-item {
  display: inline-block;
}
.weekend {
}
.options {
  /* width: 150px; */
  width: 200px;
}
.billing {

}
.compensated {

}
.bottom-item {
  display: inline-block
}
.selectUpload {
  width: 230px
}
.btnChooseFile {

}
.btnSave {

}
.saved {
  background-color: lightgreen;
}
.notSaved {
  background-color: lightblue;
}
.row {
  padding-top: 16px;
}
.table{
  box-shadow: none;
}